* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    max-width: 1600px;
    height: 4307px;
}

#navbar {
    max-width: 1600px;
    height: 92px;
    display: flex;
    margin-bottom: 1px;
    background-color: #26043f;
}

.logo {
    padding-top: 30px;
    margin-left: 200px;
}

.tech {
    font-size: 48px;
    font-weight: bold;
    color: #FAFAFA;
}

.wave {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px transparent;
}

.menu ul {
    padding-top: 36.6px;
    margin-left: 314px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.menu ul li {
    list-style: none;

}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 180%;
    color: #FFFFFF;
}

.lenearbtn {
    padding: 16px 10px;
    width: 200px;
    border-radius: 10000px;
    margin-left: 314px;
    font-size: 15px;
    font-weight: 600;
    line-height: auto;
    color: #FFFFFF;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
#banner {
  margin: 0 auto;
  max-width: 1600px;
  height: 760px;
}

.banner {
  width: 100%;
  min-height: 760px;
  background-image: url("./B13-A02-TechWave/assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section {
    width: 600px;
    height: 558px;
    margin: 101px 525px;
}

.image1 img {
    width: 350px;
    height: 350px;
    margin: 0 100px 208px 70px;
    position: absolute;
    z-index:1;
}

.image2 img {
    position: absolute;
    z-index: 2;
    margin: 77.3px 216.67px 305.67px 190.67px;
}
.button1{
    margin-left: 100px;
    padding: 9px 9px;
    border-radius: 100px;
    background-color: #00FF88;
    font-size: 18px;
    font-weight: 600;
    position: absolute;   
    top: 30%;         
    left: 50%;            
    transform: translate(-50%, -50%); 
    z-index: 10;  
}
.text-content{
    text-align: center;
    margin-top: 430px;
}
.text-content h1{
    color: #FFFFFF;
    margin-bottom: 8px;
    font-size: 60px;
    font-weight: bolder
}
.text-content p{
    color: #FFFFFF;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 400px;
}
.button2{
    font-size: 16px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 10000px;
    color: #FFFFFF;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    margin-right: 15px;
}
.button3{
    font-size: 16px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 10000px;
    color: #00ff88;
    background-color: #26043f15;
    margin-right: 15px;
}

#about{
    width: 1600px;
    height: 646px;
    background-color: #1A0B2E;
    text-align: center;
}
.about-section{
    margin: 0 200px 0 200px;
}
.about-section h1{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.about-section p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 80px;
}

#Rating{
    width: 1200px;
    margin: 100px 200px 120px 200px;
}
.Rating{
    display: flex;
    justify-content: space-around;
}
.Rating h1{
    font-size: 48px;
    font-weight: bold;
    color: #00FF88;
    margin-bottom: 16px;
}
.Rating p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}
  .why-techwave {
      background-color: #230E3D;
      padding: 60px 80px;
      width: 1600px;
      height: auto;
    }

    .why-techwave h2 {
      font-size: 48px;
      font-weight: bold;
      color: white;
      text-align: center;
      margin-bottom: 40px;
    }

    .row {
      display: flex;
      gap: 20px;
      margin-bottom: 30px;
    }

    .card {
      background-color: #3A0066;
      padding: 20px;
      border-radius: 40px;
      flex: 1;
    }

    .card h3 {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
    }

    .card p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
    }

    .card1 {
      flex: 1;
    }
    .group {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 2; 
    }
    .card img{
        margin-bottom: 16px;
    }

    .card  i{
        padding: 5px 6px;
        background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
        margin-bottom: 16px;
    }
    .card5{
      width: 380px;
      height: 200px;
      background-color: #3A0066;
      padding: 20px;
      border-radius: 40px;
    }
    .card5 h3{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
    }
    .card5 p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
    }
     .card5 img{
        margin-bottom: 16px;
    }
    #featured{
        width: 1600px;
        background-color: #1A0B2E;
    }
    .featured h1{
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        color: #FAFAFA;
    }
    .Featured-card{
        margin: 120px 200px;
        display: flex;
        gap: 30px;
    }
    .Featured-card iframe{
        border-radius: 40px 40px 0 0;
    }
    .information{
        margin-top: 0;
        width: 380px;
        height:226px;
        border: 1px solid #250D44;
        border-radius: 0 0 40px 40px;
    }
    .information h4{
        font-size: 24px;
        font-weight: bold;
        color: #FAFAFA;
        margin-top: 24px;
        margin-bottom: 12px;
    }
    .information p{
        font-size: 16px;
        font-weight: 400;
        color: #FAFAFA;
        line-height: 24px;
        margin-top: 24px;
        margin-bottom: 12px;
    }
    .information h3{
        font-size: 16px;
        font-weight: 600;
        color: #00FF88;
        gap: 2px;
    }