*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  max-width: 1600px;
  height: 4307px;
  background-color: #412567;
}
#navbar{
    max-width: 1600px;
    height: 92px;
    display: flex;
}
.logo{
    padding-top: 30px;
    margin-left: 200px;
}

.tech {
    font-size: 48px;
    font-weight: bold;
    color: #FAFAFA;
}
.wave {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px transparent;
}
.menu ul{
   padding-top:36.6px;
   margin-left: 314px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 32px;
}
.menu ul li{
    list-style: none;

}
.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 180%;
    color: #FFFFFF;
}
.lenearbtn{
    padding: 16px 10px;
    width: 200px;
    border-radius: 10000px;
    margin-left: 314px;
    font-size: 15px;
    font-weight: 600;
    line-height: auto;
    color: #FFFFFF;
    background:  linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}